.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query-select-box {
  margin-bottom: 2rem;
}

.select-data {
  margin-right: 1rem;
  padding: 5px 2px;
  text-transform: uppercase;
}

.query {
  padding: 5px 2px;
}

.group_filter {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.group_filter__item {
  display: flex;
  gap: 2px;
}

.group_filter__item label {
  text-transform: capitalize;
}
